h3 {
    text-align: center;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: chartreuse;
    padding: 0%;
    font-weight: 45;
    color: red;
    font-size: x-large;
    position: fixed;
    margin-top: 100px;
    margin-left: 320px;
    
}
#spaning:hover{
    background-color: darkcyan;
}

h3 span {
    background-color: burlywood;
    border: 5px solid;
    width: fit-content;
    border-color: darkolivegreen;
}

body{
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 12;
}
span{
    font-size: 33px;
    width: 22px;
    height: 12px;
}
div{
    background-color: coral;
}
a{
    text-decoration: none;
}
#dpi{
    border: rgb(120, 182, 218) 5px solid;
    padding: 50px;
    margin-top: 160px;
    position: fixed;
    width: 130px;
    margin-left: 180px;

}
#dth{
    border: rgb(120, 182, 218) 5px solid;
    padding: 50px;
    margin-top: 160px;
    position: fixed;
    width: 130px;
    margin-left: 520px;
}
#dod{
    border: rgb(120, 182, 218) 5px solid;
    padding: 50px;
    margin-top: 160px;
    position: fixed;
    width: 130px;
    margin-left: 840px;
}

a:hover{
    color: aquamarine;
}
div:hover{
    background-color: rgb(240, 30, 65);
}
